<%- include("../includes/header.ejs", {title:"school"}); %>
<h1>School</h1>
<ul>
    <li>School Name: <%= result[0].school_name %></li>
    <li>School(es):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].school_name + ', ' + result[i].address_id %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/school/all"><< back</a>

<%- include("../includes/footer.ejs"); %>